.search {
  padding: 20px 0;
}

.inform {
  color: darkgray;
  font-size: 0.5rem;
  font-style: italic;
  padding-left: 10px;
}

.label {
  color: bisque;
  font-size: 1.2rem;
  padding: 10px;
}

.input {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  background-color: deeppink;
  border: 1px solid beige;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 10px;
  height: 32px;
}

::placeholder {
  color: bisque;
  font-size: 1rem;
}
