body,
.root {
  height: 100%;
  background-color: black;
  background-image: none;
  padding: 20px;
  margin: 0;
}

h1 {
  color: deeppink;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.github {
  width: 96px;
  height: 96px;
  vertical-align: middle;
}

.title {
  color: violet;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
